<form [formGroup]="form">
  <section class="form-row">
    <div class="col form-group">
      <label class="required" for="firm">Firma</label>
      <select class="custom-select" formControlName="firm" id="firm" name="firm" required="required">
        <option disabled hidden readonly="readonly" selected value="null">Odaberite firmu</option>
        <option *ngFor="let item of formData?.firms" [value]="item.id">{{item.name}}</option>
      </select>
    </div>

    <div class="col-2 form-group">
      <label class="required" for="assetType">Vrsta sredstva</label>
      <select class="custom-select" formControlName="assetType" id="assetType" name="assetType" required="required">
        <option disabled hidden readonly="readonly" selected value="null">Odaberite sredstvo</option>
        <option *ngFor="let item of formData?.assetTypes" [value]="item.id">{{item.name}}</option>
      </select>
    </div>

    <div class="col-2 form-group">
      <label for="date">Datum</label>
      <div class="input-group">
        <input #d="ngbDatepicker" (keydown)="onDatePickerKeyDown($event);" [firstDayOfWeek]="1"
               [maxDate]="maxDateRestriction" class="form-control bg-white" formControlName="date" id="date" name="date"
               ngbDatepicker placeholder="Odaberite datum" readonly type="text"/>
        <div class="input-group-append">
          <button (click)="d.toggle()" class="btn btn-outline-secondary p-0 px-2 d-flex align-items-center"
                  type="button">
            <i class="material-icons" style="font-size: 1.125rem;">calendar_today</i>
          </button>
        </div>
      </div>
    </div>

    <div class="col-5 form-group">
      <label for="bank">Banka</label>
      <input class="form-control" formControlName="bank" id="bank" list="bank-list" maxlength="64" name="bank"
             placeholder="Filtrirajte&hellip;" type="search">
      <datalist id="bank-list">
        <option *ngFor="let item of formData?.banks" [value]="item.name">{{item.name}}</option>
      </datalist>
    </div>
  </section>
</form>
