$header-bg-light-base-color: #ededed;
$header-clr-light-base-color: #363636;

$form-required-clr-light-base-color: red;
$form-valid-clr-light-base-color: green;
$form-invalid-clr-light-base-color: red;
