$header-bg-light-base-color: #ededed;
$header-clr-light-base-color: #363636;

$form-required-clr-light-base-color: red;
$form-valid-clr-light-base-color: green;
$form-invalid-clr-light-base-color: red;

$app-theme-primary-base-color: #58d3cc;
$app-theme-secondary-base-color: #288ab5;

$app-theme-primary-linear-gradient: linear-gradient(162.75deg, $app-theme-primary-base-color 0%, $app-theme-secondary-base-color 84%);
