@use '~@swimlane/ngx-datatable/themes/bootstrap';
@use 'icon';

.ngx-datatable,
.ngx-datatable.bootstrap {
  .datatable-header {
    .datatable-header-cell {
      .sort-btn {
        font-family: 'Material Icons', monospace;

        &.datatable-icon-down::before,
        &.datatable-icon-up::before {
          padding-left: 2.5%;
        }

        &.datatable-icon-up::before {
          content: 'arrow_upward';
        }

        &.datatable-icon-down::before {
          content: 'arrow_downward';
        }
      }
    }
  }
}

.mv-pager {
  ::ng-deep {
    ul.pager {
      a {
        color: #363636;
      }

      li.pages {
        padding: 0 0.125rem;
        margin: 0 0.125rem;

        &.active {
          font-weight: bolder;
        }
      }

      i {
        font-family: 'Material Icons', monospace;
        font-style: normal;
        vertical-align: bottom;

        &.datatable-icon-prev::before {
          content: 'first_page';
        }

        &.datatable-icon-left::before {
          content: 'chevron_left';
        }

        &.datatable-icon-right::before {
          content: 'chevron_right';
        }

        &.datatable-icon-skip::before {
          content: 'last_page';
        }
      }
    }
  }
}
