@use '~src/scss/color';

:host {
  display: block;

  background: color.$app-theme-primary-linear-gradient;
}

.header,
.header__wrapper {
  height: 100%;
  background-clip: content-box;
  
}

.header {
  color: #fff;
}

.header__wrapper {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
}

.navbar-toggler{
  color: #fff !important;
  outline: none;
  &:hover{
    background-color: #528ba3 !important;
  }
}

.badge{
  padding: 20px;
}

.badge-user{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.user-info{
  padding: 20px;
}

.toggler{
  padding: 20px 15px 15px 0px;
}