<header role="banner">
  <span class="logo-text" role="presentation">MV+</span>

  <ng-template [ngIf]="isAuthenticated | async" [ngIfElse]="noAuth">
    <span class="text-uppercase font-weight-bold align-self-center">Authenticated</span>
  </ng-template>
  <ng-template #noAuth>
    <span class="text-uppercase font-weight-bold align-self-center">Not authenticated</span>
  </ng-template>

  <small class="user-info"><span class="user-name" *ngIf="isAuthenticated | async">{{(userInfo | async)?.name}}</span><i
    class="material-icons md-18">expand_more</i></small>
</header>
