<header role="banner">
  <span class="logo-text" role="presentation">MV+</span>

  <span *ngIf="isAuthenticated | async" class="user-info" display="dynamic" ngbDropdown placement="bottom-right"
        role="button">
    <span ngbDropdownToggle>
      <small class="user-name" id="user-name">{{(userInfo | async)?.name}}</small>
      <i class="material-icons md-18">expand_more</i>
    </span>
    <span aria-labelledby="user-name" class="dropdown-menu" ngbDropdownMenu>
      <button ngbDropdownItem type="button" (click)="onLogoutClicked();">Odjava</button>
    </span>
  </span>
</header>
