@use '~src/scss/color';

:host {
  display: block;

  background: color.$app-theme-primary-linear-gradient;
}

.header,
.header__wrapper {
  height: 100%;
}

.header {
  color: #fff;
}

.header__wrapper {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
