<div class="d-flex justify-content-end">
    <span class="material-icons i-button"style="color: #288ab5"(click)="addCompany()">add_box</span>
</div>
<div class="card card-absolute mt-1">
    <div class="card-header">
        <div class="row">
          <h5>
            <span class="material-icons">
              meeting_room
            </span>
            Firme
          </h5>
        </div>
      </div>
    <div class="card-body">
        <ngx-datatable #table class="datatable bootstrap"
                 [columnMode]="ColumnMode"
                 [rows]="[{id:1, name:'Agrokor'},{id:2, name:'Jamnica'}]"
                 [headerHeight]="42"
                 [footerHeight]="36"
                 [rowHeight]="40"
                 [limit]="10"
                 [columns]="tableColumns">
            <ngx-datatable-column name="name">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                {{value}}
            </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="action">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <span class="material-icons i-button text-warning"(click)="editCompany(row)">edit</span>
                <span class="material-icons i-button text-danger"(click)="deleteCompany(row.id)">delete</span>
            </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>