<h1>Popis izvoda</h1>
<hr/>
<mv-account-statement-summary-list-query-form
  (FormUpdated)="onQueryFormUpdated($event)"></mv-account-statement-summary-list-query-form>
<ng-template [ngIf]="isQueryFormInvalid | async">
  <p class="account-summary-list__selection">Potrebno je odabrati <strong class="text-danger">firmu</strong> i <strong
    class="text-danger">vrstu
    sredstva</strong>.</p>
</ng-template>
<ng-template [ngIf]="isQueryFormValid | async">
  <p class="account-summary-list__selection">Za odabranu firmu <strong class="text-info">{{selectionData?.firmName}}</strong> pregledavate
    <strong class="text-info">{{selectionData?.assetTypeName}}</strong>.</p>
  <ngx-datatable class="bootstrap datatable"
                 [columnMode]="columnMode"
                 [columns]="tableColumns"
                 [rows]="rows"
                 [headerHeight]="36"
                 [loadingIndicator]="!!rows?.length"
                 [scrollbarV]="true"
                 [footerHeight]="36"
                 [rowHeight]="30"
                 [count]="pageInfo.count"
                 [limit]="pageInfo.limit"
                 [offset]="pageInfo.offset"
                 [externalPaging]="true"
                 (page)="setPage($event)">
  </ngx-datatable>
</ng-template>
