@use '~src/assets/scss/data-table';

h1 {
  font-size: 1.5rem;
  padding-top: 1rem;
  font-weight: 600;
}

hr {
  margin: 0.5rem -0.75rem 1rem -0.75rem;
}

.account-summary-list__selection {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.spacer {
  background-color: rgba(0, 0, 0, 10%);
  height: 1px;
  border: none;
  outline: none;
}
