<h1>Popis izvoda</h1>
<hr/>
<mv-account-statement-summary-list-query-form
  (FormUpdated)="onQueryFormUpdated($event)"></mv-account-statement-summary-list-query-form>

<ng-template [ngIf]="isQueryFormInvalid">
  <p class="account-summary-list__selection">Potrebno je odabrati <strong class="text-danger">firmu</strong> i <strong
    class="text-danger">vrstu
    sredstva</strong>.</p>
</ng-template>

<ng-template [ngIf]="isQueryFormValid">
  <div class="d-flex justify-content-between flex-wrap align-items-center">
    <p class="account-summary-list__selection text-left">Za odabranu firmu <strong
      class="text-info">{{selectionData?.firmName}}</strong> pregledavate
      <strong class="text-info">{{convertAssetTypeStringToCorrectCroatianForm(selectionData?.assetTypeName)}}</strong>.
    </p>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-info" id="export" ngbDropdownToggle>Izvoz</button>
      <div ngbDropdownMenu aria-labelledby="export">
        <button ngbDropdownItem (click)="onExportButtonClicked('xlsx')">XLSX</button>
        <button ngbDropdownItem (click)="onExportButtonClicked('pdf')">PDF</button>
      </div>
    </div>
  </div>

  <hr class="spacer"/>

  <ngx-datatable #table class="datatable bootstrap"
                 [sorts]="[{prop: 'bankName', dir: 'asc'}]"
                 [columnMode]="columnMode"
                 [columns]="tableColumns"
                 [rows]="rows | async"
                 [scrollbarH]="true"
                 [headerHeight]="36"
                 [loadingIndicator]="loadingIndicator"
                 [footerHeight]="36"
                 [rowHeight]="30"
                 [count]="entryCount"
                 [limit]="desiredPageSize"
                 [offset]="desiredPageOffset"
                 [externalPaging]="true"
                 (page)="setPage($event)">
    <ngx-datatable-footer *ngIf="true">
      <ng-template
        ngx-datatable-footer-template
        let-rowCount="rowCount"
        let-pageSize="pageSize"
        let-curPage="curPage">
        <div><span>Ukupno: </span><span>{{rowCount}}</span></div>
        <datatable-pager class="mv-pager"
                         [pagerLeftArrowIcon]="'datatable-icon-left'"
                         [pagerRightArrowIcon]="'datatable-icon-right'"
                         [pagerPreviousIcon]="'datatable-icon-prev'"
                         [pagerNextIcon]="'datatable-icon-skip'"
                         [page]="curPage"
                         [size]="pageSize"
                         [count]="rowCount"
                         [hidden]="!((rowCount / pageSize) > 1)"
                         (change)="table.onFooterPage($event)">
        </datatable-pager>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>

  <hr class="spacer" style="margin-top: 0;"/>
</ng-template>
