:host {
  height: 100vh;
}

$header-height: 3.75rem;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
}

.content {
  padding-top: $header-height;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;

  .content__wrapper {
    flex-grow: 1;
  }

  .footer {
    flex-shrink: 0;
  }
}
