@use '~src/scss/color';

:host {
  display: block;
}

.footer,
.footer__wrapper {
  height: 100%;
}

.footer {
  background-color: color.$header-bg-light-base-color;
}

.footer__wrapper {
  padding: 0.5rem 1rem;
  text-align: end;
}
