@use '~src/assets/scss/color';

footer {
  padding: 0.5rem 1rem;
  text-align: end;

  background-color: color.$header-bg-light-base-color;
}

.fake-spaces {
  > *::after {
    content: ' ';
  }

  > :last-child::after {
    content: '';
  }
}
