<div class="notification-message" *ngIf="licence && licence.expirationDays < 30 && isDisplayed">
  <div class="col-lg-12" [ngClass]="{
            'one':
             licence.expirationDays < 30 && licence.expirationDays > 7,
             'two':
             licence.expirationDays < 7 && licence.isValid,
             'three':
             !licence.isValid
    }">
    <div class="icon-info">
      <div class="icon">
        <span class="material-icons">error_outline</span>
      </div>
      <div class="info">
        <a class="info-message">PAŽNJA!</a>
      </div>
    </div>
    <span *ngIf="licence.isValid; else notValidLicence">
      Za {{ licence.expirationDays }} dana istječe vam licenca, molimo kontaktirajte davatelja usluge kako biste dobili
      novu licencu.
    </span>
    <ng-template #notValidLicence>
      Licenca vam je istekla, molimo kontaktirajte davatelja usluge kako biste dobili novu licencu.
    </ng-template>
    <div class="button-text col-xl-1 col-lg-2 col-sm-3 col-xs-1">
      <button type="button" class="btn btn-info" (click)="showComponent()">U redu</button>
    </div>
  </div>
</div>
