@use 'color';

.btn-primary {
  background: color.$app-theme-secondary-base-color !important ;
}

button.btn-empty {
  background: none;
  border: 0;
  &:active {
    border: 0 !important;
    outline: none;
  }
  &:focus {
    border: 0 !important;
    outline: none;
  }
}
