@use '~src/scss/color';

.ngx-datatable {
  box-shadow: none;
  font-size: 0.8125rem;
}

.ngx-datatable.datatable {
  ::ng-deep {
    .datatable-header {
      .sort-btn {
        font-family: 'Material Icons', monospace;

        &.sort-asc:before,
        &.datatable-icon-up:before {
          content: 'arrow_upward';
        }

        &.sort-desc:before,
        &.datatable-icon-down:before {
          content: 'arrow_downward';
        }

        padding-left: 0.25rem;
      }
    }
  }
}

.ngx-datatable.bootstrap
{
  .datatable-row-even {
    background-color: white !important;
  }
  .datatable-body .datatable-body-row {
    border-top: none !important;
  }
  .datatable-footer {
    background-color: white;
    color: #424242;
    overflow: hidden !important;
  }
  ul li {
    a {
      font-size: 14px !important;
    }
    &.disabled a {
      border: 0.5px solid color.$app-theme-secondary-base-color;
      color: #C0C0C0 !important;
    }
    &:not(.disabled).active a {
      background-color: color.$app-theme-secondary-base-color !important;
      color: white !important;
      &:hover {
        background-color: color.$app-theme-secondary-base-color !important;
      }
    }
    &:not(.disabled) a {
      border: 0.5px solid color.$app-theme-secondary-base-color;
      color: color.$app-theme-secondary-base-color !important;
      &:hover {
        background-color: color.$app-theme-secondary-base-color !important;
        color: white !important;
      }
    }
  }
}
