.ngx-datatable {
  box-shadow: none;
  // font-size: 0.8125rem;
  font-size: 16px;
}

.ngx-datatable.datatable {
  ::ng-deep {
    .datatable-header {
      .sort-btn {
        font-family: 'Material Icons', monospace;

        &.sort-asc:before,
        &.datatable-icon-up:before {
          content: 'arrow_upward';
        }

        &.sort-desc:before,
        &.datatable-icon-down:before {
          content: 'arrow_downward';
        }

        padding-left: 0.25rem;
      }
    }
  }
}

.ngx-datatable.material {
  .datatable-header {
      border: 0 !important;
      .datatable-header-cell {
          background: #0075C2;
          color: white !important;
      }
  }
}
