@use 'color';

.required {
  &::after {
    content: '*';
    color: color.$form-required-clr-light-base-color;
  }
}

.form-control,
.custom-select {
  &.ng-valid[required],
  &.ng-valid.required {
    border-left: 0.25rem solid color.$form-valid-clr-light-base-color;
  }

  &.ng-invalid:not(.ng-untouched) {
    border-left: 0.25rem solid color.$form-invalid-clr-light-base-color;
  }
}

.input-group-text {
  padding: 0.175rem 0.75rem !important;
  background: color.$app-theme-secondary-base-color;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control,
.custom-select {
  height: 2rem;
  padding: 0.15rem 0.5rem;
}

.loader--text:after {
  content: "Učitavanje";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Učitavanje";
  }
  25% {
    content: "Učitavanje.";
  }
  50% {
    content: "Učitavanje..";
  }
  75% {
    content: "Učitavanje...";
  }
}
