@use 'color';

.material-icons {

  &.md-18 {
    font-size: 18px;
  }

  &.md-24 {
    font-size: 24px;
  }

  &.md-36 {
    font-size: 36px;
  }

  &.md-48 {
    font-size: 48px;
  }

  &.i-button{
    cursor: pointer;
    font-size: 38px;
  }
  /* Rules for using icons as black on a light background. */
  &.md-dark {
    color: rgba(0, 0, 0, 0.54);

    &.md-inactive {
      color: rgba(0, 0, 0, 0.26);
    }
  }

  /* Rules for using icons as white on a dark background. */
  &.md-light {
    color: rgba(255, 255, 255, 1);

    &.md-inactive {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.circle-icon {
  background: color.$app-theme-primary-linear-gradient;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 100px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-primary {
  color: color.$app-theme-secondary-base-color !important;
}

.text-warning {
  color: #f0ad4e !important
}
