@forward 'data-table';
@forward 'color';
@forward 'form';
@forward 'icon';
@forward 'order';

html,
body {
  height: 100%;
}

body {
  font-size: 15px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
