<div class="modal-header">
  <h4 class="modal-title" *ngIf="companyEdit; else addCompanyHeader">
    Uredi firmu
  </h4>
  <ng-template #addCompanyHeader>
    <h4 class="modal-title">Dodaj novu firmu</h4>
  </ng-template>
</div>
<div class="modal-body pb-0">
  <form [formGroup]="companyGroup" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="card-body px-0 pt-0">
      <div class="col-12 mb-3">
        <label class="required" for="name"> Naziv </label>
        <input type="text" class="form-control" id="name" name="korisnik" placeholder="Naziv firme&hellip;"
          formControlName="name" autocomplete="off" [ngClass]="{
            'is-invalid':
              name?.invalid &&
              (name?.dirty || name?.touched || myForm.submitted)
          }" autocomplete="off" />
        <div class="invalid-feedback">Polje je obavezno</div>
      </div>
      <div class="col-12 mb-3">
        <label class="required" for="oib"> OIB </label>
        <input type="text" class="form-control" id="oib" maxlength="11" name="oib" placeholder="OIB&hellip;"
          formControlName="oib" autocomplete="off" [ngClass]="{
            'is-invalid':
              errorMessage.length || (oib?.invalid && (oib?.dirty || oib?.touched || myForm.submitted))
          }" autocomplete="off" />
        <div class="invalid-feedback" *ngIf="oib?.errors?.minlength || oib?.errors?.maxlength">
          Polje OIB mora sadržavati 11 znamenaka
        </div>
        <div class="invalid-feedback" *ngIf="oib?.errors?.required">
          Polje OIB je obavezno
        </div>
        <div class="invalid-feedback" *ngIf="oib?.errors?.pattern">
          Polje OIB mora sadržavati samo brojeve
        </div>
        <div class="invalid-feedback" *ngIf="errorMessage.length">
          {{ errorMessage }}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary mr-auto" (click)="_modal.dismiss('cancel')">
        <span class="fas fa-times"></span>
        <span>Odustani</span>
      </button>
      <button type="submit" ngbAutofocus class="btn btn-primary">
        <span class="fas fa-user-plus"></span>
        <span class="fas fa-user-check"></span>
        <span *ngIf="companyEdit; else addCompany">Uredi firmu</span>
        <ng-template #addCompany>
          <span>Dodaj firmu</span>
        </ng-template>
      </button>
    </div>
  </form>
</div>